## Group Project 1 Step 4 Data Cleaning with Pandas

Najae Batts

In [23]:
import pandas as pd
import numpy as np

In [25]:
df1 = pd.read_csv("Health_Sleep_Statistics.csv")

In [53]:
df1

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,23:00,06:30,8000,2500,medium,healthy,no,no
1,2,34,m,7,00:30,07:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,22:45,06:45,9000,2700,high,healthy,no,no
3,4,41,m,5,01:00,06:30,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,23:30,07:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,m,7,00:45,07:15,6500,2400,medium,medium,no,no
96,97,33,f,8,23:15,06:15,8500,2600,high,medium,no,no
97,98,46,m,4,01:30,07:00,3000,2000,low,unhealthy,yes,yes
98,99,25,f,9,22:15,06:45,9500,2700,high,healthy,no,no
99,100,41,m,6,00:30,07:00,5000,2200,medium,unhealthy,no,no

In this output you can see the dataset being uploaded by using the 'read_csv' function and printing the data set that we chose.

In [30]:
df1.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            0
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           0
dtype: int64

After uploading the dataset, I'm using the code isnull.().sum(). to check for missing null values in the data set in each column. If there were any missinf values there would be a 1 next to the column. There are no missing values in our dataset.

In [24]:
data_cleaned = df1.drop_duplicates()

In [27]:
print(data_cleaned)

    User ID  Age Gender  Sleep Quality Bedtime Wake-up Time  Daily Steps  \
0         1   25      f              8   23:00        06:30         8000
1         2   34      m              7   00:30        07:00         5000
2         3   29      f              9   22:45        06:45         9000
3         4   41      m              5   01:00        06:30         4000
4         5   22      f              8   23:30        07:00        10000
..      ...  ...    ...            ...     ...          ...          ...
95       96   43      m              7   00:45        07:15         6500
96       97   33      f              8   23:15        06:15         8500
97       98   46      m              4   01:30        07:00         3000
98       99   25      f              9   22:15        06:45         9500
99      100   41      m              6   00:30        07:00         5000

    Calories Burned Physical Activity Level Dietary Habits Sleep Disorders  \
0              2500                  medium        healthy              no
1              2200                     low      unhealthy             yes
2              2700                    high        healthy              no
3              2100                     low      unhealthy             yes
4              2800                    high         medium              no
..              ...                     ...            ...             ...
95             2400                  medium         medium              no
96             2600                    high         medium              no
97             2000                     low      unhealthy             yes
98             2700                    high        healthy              no
99             2200                  medium      unhealthy              no

   Medication Usage
0                no
1               yes
2                no
3                no
4                no
..              ...
95               no
96               no
97              yes
98               no
99               no

[100 rows x 12 columns]

In this code you can see me using drop.duplicates to clean the data. However, after overlooking there were no data values that were dropped because there are no duplicates in our dataset.

In [29]:
data_cleaned.reset_index(drop=False, inplace=False)

,index,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,0,1,25,f,8,23:00,06:30,8000,2500,medium,healthy,no,no
1,1,2,34,m,7,00:30,07:00,5000,2200,low,unhealthy,yes,yes
2,2,3,29,f,9,22:45,06:45,9000,2700,high,healthy,no,no
3,3,4,41,m,5,01:00,06:30,4000,2100,low,unhealthy,yes,no
4,4,5,22,f,8,23:30,07:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,43,m,7,00:45,07:15,6500,2400,medium,medium,no,no
96,96,97,33,f,8,23:15,06:15,8500,2600,high,medium,no,no
97,97,98,46,m,4,01:30,07:00,3000,2000,low,unhealthy,yes,yes
98,98,99,25,f,9,22:15,06:45,9500,2700,high,healthy,no,no
99,99,100,41,m,6,00:30,07:00,5000,2200,medium,unhealthy,no,no

The reset.index code is used to reset the index of a DataFrame. When droping set to False, the old index will be added as a a colum in the new DataFrame. When the implace is set to False, it will return a new DataFrame with the reset index, leaving the oringinal DataFrame unchanged.

In [33]:
df2 = pd.read_csv("new.csv")

In [37]:
df2

,User ID,Age,Gender,Sleep Quality,Bedtime,Wake-up Time,Daily Steps,Calories Burned,Physical Activity Level,Dietary Habits,Sleep Disorders,Medication Usage
0,1,25,f,8,23:00,06:30,8000,2500,medium,healthy,no,no
1,2,34,m,7,00:30,07:00,5000,2200,low,unhealthy,yes,yes
2,3,29,f,9,22:45,06:45,9000,2700,high,healthy,no,no
3,4,41,m,5,01:00,06:30,4000,2100,low,unhealthy,yes,no
4,5,22,f,8,23:30,07:00,10000,2800,high,medium,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,33,f,8,23:15,06:15,8500,2600,high,medium,no,no
97,98,46,m,4,01:30,07:00,3000,2000,low,unhealthy,yes,yes
98,99,25,f,9,22:15,06:45,9500,2700,high,healthy,no,no
99,100,41,m,6,00:30,07:00,5000,2200,medium,unhealthy,no,no
100,100,41,m,6,00:30,07:00,5000,2200,medium,unhealthy,no,no

As above, our original dataset didn't have any missing values. So to show how it will look like with missing values we changed the dataset up a little bit for learning purposes.

In [11]:
df2.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            1
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           1
dtype: int64

So here now when we check output for missing values, we can see a 1 in the column of calories burned and medication usage. There are now missing values because I went in and changed the data.

In [57]:
df3 = df2.isnull().sum()

In [59]:
df3

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            1
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           1
dtype: int64

In [95]:
# df3 = df2.fillna(0)

df3 = df2.dropna()

The code comment above is basically trying to fill the missing values with code filllna(0) with 0 and then the dropna is dropping any rows that contain no value.

In [97]:
df3.isnull().sum()

User ID                    0
Age                        0
Gender                     0
Sleep Quality              0
Bedtime                    0
Wake-up Time               0
Daily Steps                0
Calories Burned            0
Physical Activity Level    0
Dietary Habits             0
Sleep Disorders            0
Medication Usage           0
dtype: int64

When we check for the code to see that it worked it does because they filled the missing values with 0 which were 'Calories Burned' and 'Medication Usage.'

In [99]:
df2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
96     False
97     False
98     False
99     False
100     True
Length: 101, dtype: bool

We're checking for duplicates in our new csv data set and as you can see there is a 'True' in the 100 row showing there is a duplicate there. We can also see that there is a duplicate because we have 101 rows.

In [112]:
df4 = df2.drop_duplicates()

In [114]:
df4.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

After seeing that there were duplicates in the data on the 100 column we dropped them and now you can see all the columns showing False meaning no duplicates and also we're back to 100 rows like before. Adding the duplicates and missing values were for learning purposes but in our origal dataset we didn't have any missing or duplicate values.