In [1]:
#must import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
#we needed to call the saved csv file so pandas can read it and upload
df=pd.read_csv("Health_Sleep_Statistics.csv")

In [3]:
#need to print the head to familiarize ourself with the data
# will default to print the first 5 rows of each column in the data set if leave "()" open
print(df.head())

   User ID  Age Gender  Sleep Quality Bedtime Wake-up Time  Daily Steps  \
0        1   25      f              8   23:00        06:30         8000
1        2   34      m              7   00:30        07:00         5000
2        3   29      f              9   22:45        06:45         9000
3        4   41      m              5   01:00        06:30         4000
4        5   22      f              8   23:30        07:00        10000

   Calories Burned Physical Activity Level Dietary Habits Sleep Disorders  \
0             2500                  medium        healthy              no
1             2200                     low      unhealthy             yes
2             2700                    high        healthy              no
3             2100                     low      unhealthy             yes
4             2800                    high         medium              no

  Medication Usage
0               no
1              yes
2               no
3               no
4               no

In [4]:
#I need to know what each feature is called and which are intergers to convert into arrays
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  100 non-null    int64
 1   Age                      100 non-null    int64
 2   Gender                   100 non-null    object
 3   Sleep Quality            100 non-null    int64
 4   Bedtime                  100 non-null    object
 5   Wake-up Time             100 non-null    object
 6   Daily Steps              100 non-null    int64
 7   Calories Burned          100 non-null    int64
 8   Physical Activity Level  100 non-null    object
 9   Dietary Habits           100 non-null    object
 10  Sleep Disorders          100 non-null    object
 11  Medication Usage         100 non-null    object
dtypes: int64(5), object(7)
memory usage: 9.5+ KB

In [5]:
#creating the array for age and the array Calories burned
#I want to see the median, mean, and stardard deviation for "Age" and "Calories Burned". I can not find the median or mean for non-numerical values unless I convert them into integer or float.
A=np.array(df["Age"])
B=np.array(df["Calories Burned"])
print(A)
print(B)

[25 34 29 41 22 37 30 45 27 32 50 23 36 48 28 31 26 39 33 42 29 35 40 47
 32 44 27 38 31 49 24 45 37 46 28 40 35 50 26 41 30 44 34 48 33 47 28 39
 32 46 23 38 27 44 29 36 30 45 25 50 28 47 26 39 31 43 24 38 28 48 32 41
 29 50 26 44 30 47 25 49 31 42 27 45 34 50 28 39 30 47 23 36 29 50 27 43
 33 46 25 41]
[2500 2200 2700 2100 2800 2300 2600 2000 2750 2400 2100 2900 2400 2000
 2700 2300 2500 2100 2800 2400 2600 2100 2750 2300 2600 2000 2800 2400
 2500 2100 2900 2200 2600 2000 2750 2300 2500 2100 2900 2200 2600 2000
 2750 2300 2500 2100 2900 2200 2600 2000 2700 2200 2600 2100 2750 2400
 2600 2000 2700 2200 2600 2100 2750 2400 2600 2000 2700 2200 2600 2100
 2750 2400 2600 2000 2700 2200 2600 2100 2750 2400 2600 2000 2700 2200
 2600 2100 2750 2400 2600 2000 2700 2200 2600 2100 2750 2400 2600 2000
 2700 2200]

In [6]:
#finding the median of Age and the Calories Burned 
#\n creates a new line before whatever I am asking of the command
print("The median  is:", np.median(A))

print("\nThe median calories burned is:", np.median(B))

The median  is: 35.0

The median calories burned is: 2400.0

In [7]:
#finding the mean(average) of Age and the Calories Burned 
#again the \n creates a new line before whatever I am asking of the command
print("The mean age is:", np.mean(A))

print("\nThe mean calories burned is:", np.mean(B))

The mean age is: 36.01

The mean calories burned is: 2421.0

In [8]:
#finding the standard deviation of Age and the Calories Burned to see the furthest from the mean
#again the \n creates a new line before whatever I am asking of the command
print("The standard deviation in age is:", np.std(A))

print("\nThe standard deviation of calories burned is:", np.std(B))

The standard deviation in age is: 8.412484769674178

The standard deviation of calories burned is: 279.6587205863604

In [9]:
#showing mathematical operations by using the arrays
print("Elementwise Multiplication Example:", A*B)
print("\nSubrtaction Example:", A-B)
print("\nAddition Example:", A+B)

Elementwise Multiplication Example: [ 62500  74800  78300  86100  61600  85100  78000  90000  74250  76800
 105000  66700  86400  96000  75600  71300  65000  81900  92400 100800
  75400  73500 110000 108100  83200  88000  75600  91200  77500 102900
  69600  99000  96200  92000  77000  92000  87500 105000  75400  90200
  78000  88000  93500 110400  82500  98700  81200  85800  83200  92000
  62100  83600  70200  92400  79750  86400  78000  90000  67500 110000
  72800  98700  71500  93600  80600  86000  64800  83600  72800 100800
  88000  98400  75400 100000  70200  96800  78000  98700  68750 117600
  80600  84000  72900  99000  88400 105000  77000  93600  78000  94000
  62100  79200  75400 105000  74250 103200  85800  92000  67500  90200]

Subrtaction Example: [-2475 -2166 -2671 -2059 -2778 -2263 -2570 -1955 -2723 -2368 -2050 -2877
 -2364 -1952 -2672 -2269 -2474 -2061 -2767 -2358 -2571 -2065 -2710 -2253
 -2568 -1956 -2773 -2362 -2469 -2051 -2876 -2155 -2563 -1954 -2722 -2260
 -2465 -2050 -2874 -2159 -2570 -1956 -2716 -2252 -2467 -2053 -2872 -2161
 -2568 -1954 -2677 -2162 -2573 -2056 -2721 -2364 -2570 -1955 -2675 -2150
 -2572 -2053 -2724 -2361 -2569 -1957 -2676 -2162 -2572 -2052 -2718 -2359
 -2571 -1950 -2674 -2156 -2570 -2053 -2725 -2351 -2569 -1958 -2673 -2155
 -2566 -2050 -2722 -2361 -2570 -1953 -2677 -2164 -2571 -2050 -2723 -2357
 -2567 -1954 -2675 -2159]

Addition Example: [2525 2234 2729 2141 2822 2337 2630 2045 2777 2432 2150 2923 2436 2048
 2728 2331 2526 2139 2833 2442 2629 2135 2790 2347 2632 2044 2827 2438
 2531 2149 2924 2245 2637 2046 2778 2340 2535 2150 2926 2241 2630 2044
 2784 2348 2533 2147 2928 2239 2632 2046 2723 2238 2627 2144 2779 2436
 2630 2045 2725 2250 2628 2147 2776 2439 2631 2043 2724 2238 2628 2148
 2782 2441 2629 2050 2726 2244 2630 2147 2775 2449 2631 2042 2727 2245
 2634 2150 2778 2439 2630 2047 2723 2236 2629 2150 2777 2443 2633 2046
 2725 2241]

In [12]:
#the arrays for Bedtime and Wake-up Time. We hope to subtract the Wake-up Time from the Bedtime
A=np.array(df["Bedtime"])
B=np.array(df["Wake-up Time"])
print(A)
print(B)

['23:00' '00:30' '22:45' '01:00' '23:30' '00:15' '22:30' '01:30' '23:00'
 '00:45' '01:00' '22:00' '23:30' '01:30' '22:15' '00:30' '23:45' '01:15'
 '22:30' '00:45' '23:15' '01:00' '22:45' '00:15' '23:00' '01:30' '22:30'
 '00:45' '23:30' '01:15' '22:00' '00:30' '23:15' '01:00' '22:45' '00:15'
 '23:30' '01:30' '22:00' '00:45' '23:15' '01:00' '22:45' '00:15' '23:30'
 '01:30' '22:00' '00:30' '23:15' '01:00' '22:15' '00:30' '23:00' '01:15'
 '22:30' '00:45' '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30'
 '00:45' '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45'
 '23:15' '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15'
 '01:30' '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15' '01:30'
 '22:15' '00:30' '23:00' '01:15' '22:30' '00:45' '23:15' '01:30' '22:15'
 '00:30']
['06:30' '07:00' '06:45' '06:30' '07:00' '07:15' '06:00' '07:00' '07:30'
 '07:15' '07:00' '06:00' '07:30' '06:00' '06:45' '07:30' '06:15' '07:00'
 '07:00' '07:30' '06:30' '06:30' '06:15' '07:00' '06:30' '07:00' '06:45'
 '07:15' '07:00' '07:30' '06:00' '07:30' '06:15' '06:30' '07:00' '07:15'
 '07:00' '06:00' '06:00' '07:30' '06:15' '06:30' '07:00' '07:15' '07:00'
 '06:00' '06:00' '07:30' '06:15' '06:30' '06:45' '07:00' '07:00' '07:00'
 '07:30' '07:15' '06:15' '07:00' '06:45' '07:00' '07:00' '07:00' '07:30'
 '07:15' '06:15' '06:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15'
 '06:15' '07:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15'
 '07:00' '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15' '07:00'
 '06:45' '07:00' '07:00' '07:00' '07:30' '07:15' '06:15' '07:00' '06:45'
 '07:00']

In [ ]:
#notice the data above, which is not a float or integer. In order to run mathematical operations we need to change the dtype

In [13]:
#Stated making the dtype to be datetime which allows subtraction. asked the format to be in Hour:Minute formatting. Because there is no date, it will default to to January 1st 1900. 
df_new = pd.to_datetime(A, format= '%H:%M')
print(df_new)

DatetimeIndex(['1900-01-01 23:00:00', '1900-01-01 00:30:00',
               '1900-01-01 22:45:00', '1900-01-01 01:00:00',
               '1900-01-01 23:30:00', '1900-01-01 00:15:00',
               '1900-01-01 22:30:00', '1900-01-01 01:30:00',
               '1900-01-01 23:00:00', '1900-01-01 00:45:00',
               '1900-01-01 01:00:00', '1900-01-01 22:00:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:45:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:00:00', '1900-01-01 01:30:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:30:00', '1900-01-01 01:15:00',
               '1900-01-01 22:00:00', '1900-01-01 00:30:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:00:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:45:00', '1900-01-01 00:15:00',
               '1900-01-01 23:30:00', '1900-01-01 01:30:00',
               '1900-01-01 22:00:00', '1900-01-01 00:30:00',
               '1900-01-01 23:15:00', '1900-01-01 01:00:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00',
               '1900-01-01 23:00:00', '1900-01-01 01:15:00',
               '1900-01-01 22:30:00', '1900-01-01 00:45:00',
               '1900-01-01 23:15:00', '1900-01-01 01:30:00',
               '1900-01-01 22:15:00', '1900-01-01 00:30:00'],
              dtype='datetime64[ns]', freq=None)

In [15]:
# we could also format the bedtime and wakeup time like the next two lines below but the other formatting is better for subtraction
#df['Bedtime'] = pd.to_datetime(df['Bedtime'], dayfirst= True)
#df['Wake-up Time'] = pd.to_datetime(df['Wake-up Time'], dayfirst= True)

#this is changing the dtypes of Bedtime and Wake-up Time to be datetime dtypes
df['Bedtime'] = pd.to_datetime(df['Bedtime'], format= '%H:%M')
df['Wake-up Time'] = pd.to_datetime(df['Wake-up Time'],format= '%H:%M')

#note the changed Dtypes for the Aspects "Bedtime" and "Wake-up Time"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  100 non-null    int64
 1   Age                      100 non-null    int64
 2   Gender                   100 non-null    object
 3   Sleep Quality            100 non-null    int64
 4   Bedtime                  100 non-null    datetime64[ns]
 5   Wake-up Time             100 non-null    datetime64[ns]
 6   Daily Steps              100 non-null    int64
 7   Calories Burned          100 non-null    int64
 8   Physical Activity Level  100 non-null    object
 9   Dietary Habits           100 non-null    object
 10  Sleep Disorders          100 non-null    object
 11  Medication Usage         100 non-null    object
dtypes: datetime64[ns](2), int64(5), object(5)
memory usage: 9.5+ KB

In [20]:
#printing the new arrays now that the Dtype for "Bedtime" and "Wake-up Time" is datetime
A=pd.array(df["Bedtime"])
B=pd.array(df["Wake-up Time"])
print(A)

print(B)

<DatetimeArray>
['2024-10-04 23:00:00', '2024-10-04 00:30:00', '2024-10-04 22:45:00',
 '2024-10-04 01:00:00', '2024-10-04 23:30:00', '2024-10-04 00:15:00',
 '2024-10-04 22:30:00', '2024-10-04 01:30:00', '2024-10-04 23:00:00',
 '2024-10-04 00:45:00', '2024-10-04 01:00:00', '2024-10-04 22:00:00',
 '2024-10-04 23:30:00', '2024-10-04 01:30:00', '2024-10-04 22:15:00',
 '2024-10-04 00:30:00', '2024-10-04 23:45:00', '2024-10-04 01:15:00',
 '2024-10-04 22:30:00', '2024-10-04 00:45:00', '2024-10-04 23:15:00',
 '2024-10-04 01:00:00', '2024-10-04 22:45:00', '2024-10-04 00:15:00',
 '2024-10-04 23:00:00', '2024-10-04 01:30:00', '2024-10-04 22:30:00',
 '2024-10-04 00:45:00', '2024-10-04 23:30:00', '2024-10-04 01:15:00',
 '2024-10-04 22:00:00', '2024-10-04 00:30:00', '2024-10-04 23:15:00',
 '2024-10-04 01:00:00', '2024-10-04 22:45:00', '2024-10-04 00:15:00',
 '2024-10-04 23:30:00', '2024-10-04 01:30:00', '2024-10-04 22:00:00',
 '2024-10-04 00:45:00', '2024-10-04 23:15:00', '2024-10-04 01:00:00',
 '2024-10-04 22:45:00', '2024-10-04 00:15:00', '2024-10-04 23:30:00',
 '2024-10-04 01:30:00', '2024-10-04 22:00:00', '2024-10-04 00:30:00',
 '2024-10-04 23:15:00', '2024-10-04 01:00:00', '2024-10-04 22:15:00',
 '2024-10-04 00:30:00', '2024-10-04 23:00:00', '2024-10-04 01:15:00',
 '2024-10-04 22:30:00', '2024-10-04 00:45:00', '2024-10-04 23:15:00',
 '2024-10-04 01:30:00', '2024-10-04 22:15:00', '2024-10-04 00:30:00',
 '2024-10-04 23:00:00', '2024-10-04 01:15:00', '2024-10-04 22:30:00',
 '2024-10-04 00:45:00', '2024-10-04 23:15:00', '2024-10-04 01:30:00',
 '2024-10-04 22:15:00', '2024-10-04 00:30:00', '2024-10-04 23:00:00',
 '2024-10-04 01:15:00', '2024-10-04 22:30:00', '2024-10-04 00:45:00',
 '2024-10-04 23:15:00', '2024-10-04 01:30:00', '2024-10-04 22:15:00',
 '2024-10-04 00:30:00', '2024-10-04 23:00:00', '2024-10-04 01:15:00',
 '2024-10-04 22:30:00', '2024-10-04 00:45:00', '2024-10-04 23:15:00',
 '2024-10-04 01:30:00', '2024-10-04 22:15:00', '2024-10-04 00:30:00',
 '2024-10-04 23:00:00', '2024-10-04 01:15:00', '2024-10-04 22:30:00',
 '2024-10-04 00:45:00', '2024-10-04 23:15:00', '2024-10-04 01:30:00',
 '2024-10-04 22:15:00', '2024-10-04 00:30:00', '2024-10-04 23:00:00',
 '2024-10-04 01:15:00', '2024-10-04 22:30:00', '2024-10-04 00:45:00',
 '2024-10-04 23:15:00', '2024-10-04 01:30:00', '2024-10-04 22:15:00',
 '2024-10-04 00:30:00']
Length: 100, dtype: datetime64[ns]
<DatetimeArray>
['2024-10-04 06:30:00', '2024-10-04 07:00:00', '2024-10-04 06:45:00',
 '2024-10-04 06:30:00', '2024-10-04 07:00:00', '2024-10-04 07:15:00',
 '2024-10-04 06:00:00', '2024-10-04 07:00:00', '2024-10-04 07:30:00',
 '2024-10-04 07:15:00', '2024-10-04 07:00:00', '2024-10-04 06:00:00',
 '2024-10-04 07:30:00', '2024-10-04 06:00:00', '2024-10-04 06:45:00',
 '2024-10-04 07:30:00', '2024-10-04 06:15:00', '2024-10-04 07:00:00',
 '2024-10-04 07:00:00', '2024-10-04 07:30:00', '2024-10-04 06:30:00',
 '2024-10-04 06:30:00', '2024-10-04 06:15:00', '2024-10-04 07:00:00',
 '2024-10-04 06:30:00', '2024-10-04 07:00:00', '2024-10-04 06:45:00',
 '2024-10-04 07:15:00', '2024-10-04 07:00:00', '2024-10-04 07:30:00',
 '2024-10-04 06:00:00', '2024-10-04 07:30:00', '2024-10-04 06:15:00',
 '2024-10-04 06:30:00', '2024-10-04 07:00:00', '2024-10-04 07:15:00',
 '2024-10-04 07:00:00', '2024-10-04 06:00:00', '2024-10-04 06:00:00',
 '2024-10-04 07:30:00', '2024-10-04 06:15:00', '2024-10-04 06:30:00',
 '2024-10-04 07:00:00', '2024-10-04 07:15:00', '2024-10-04 07:00:00',
 '2024-10-04 06:00:00', '2024-10-04 06:00:00', '2024-10-04 07:30:00',
 '2024-10-04 06:15:00', '2024-10-04 06:30:00', '2024-10-04 06:45:00',
 '2024-10-04 07:00:00', '2024-10-04 07:00:00', '2024-10-04 07:00:00',
 '2024-10-04 07:30:00', '2024-10-04 07:15:00', '2024-10-04 06:15:00',
 '2024-10-04 07:00:00', '2024-10-04 06:45:00', '2024-10-04 07:00:00',
 '2024-10-04 07:00:00', '2024-10-04 07:00:00', '2024-10-04 07:30:00',
 '2024-10-04 07:15:00', '2024-10-04 06:15:00', '2024-10-04 06:00:00',
 '2024-10-04 06:45:00', '2024-10-04 07:00:00', '2024-10-04 07:00:00',
 '2024-10-04 07:00:00', '2024-10-04 07:30:00', '2024-10-04 07:15:00',
 '2024-10-04 06:15:00', '2024-10-04 07:00:00', '2024-10-04 06:45:00',
 '2024-10-04 07:00:00', '2024-10-04 07:00:00', '2024-10-04 07:00:00',
 '2024-10-04 07:30:00', '2024-10-04 07:15:00', '2024-10-04 06:15:00',
 '2024-10-04 07:00:00', '2024-10-04 06:45:00', '2024-10-04 07:00:00',
 '2024-10-04 07:00:00', '2024-10-04 07:00:00', '2024-10-04 07:30:00',
 '2024-10-04 07:15:00', '2024-10-04 06:15:00', '2024-10-04 07:00:00',
 '2024-10-04 06:45:00', '2024-10-04 07:00:00', '2024-10-04 07:00:00',
 '2024-10-04 07:00:00', '2024-10-04 07:30:00', '2024-10-04 07:15:00',
 '2024-10-04 06:15:00', '2024-10-04 07:00:00', '2024-10-04 06:45:00',
 '2024-10-04 07:00:00']
Length: 100, dtype: datetime64[ns]

In [21]:
#Must subtract the "Wake-Up Time(B)" from the "Bedtime(A)" to get the hours of sleep. 
print("Hours of Sleep:\n", B-A)

Hours of Sleep:
 <TimedeltaArray>
['-1 days +07:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:30:00', '-1 days +07:30:00',   '0 days 07:00:00',
 '-1 days +07:30:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00',   '0 days 06:00:00', '-1 days +08:00:00',
 '-1 days +08:00:00',   '0 days 04:30:00', '-1 days +08:30:00',
   '0 days 07:00:00', '-1 days +06:30:00',   '0 days 05:45:00',
 '-1 days +08:30:00',   '0 days 06:45:00', '-1 days +07:15:00',
   '0 days 05:30:00', '-1 days +07:30:00',   '0 days 06:45:00',
 '-1 days +07:30:00',   '0 days 05:30:00', '-1 days +08:15:00',
   '0 days 06:30:00', '-1 days +07:30:00',   '0 days 06:15:00',
 '-1 days +08:00:00',   '0 days 07:00:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:15:00',   '0 days 07:00:00',
 '-1 days +07:30:00',   '0 days 04:30:00', '-1 days +08:00:00',
   '0 days 06:45:00', '-1 days +07:00:00',   '0 days 05:30:00',
 '-1 days +08:15:00',   '0 days 07:00:00', '-1 days +07:30:00',
   '0 days 04:30:00', '-1 days +08:00:00',   '0 days 07:00:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00', '-1 days +08:00:00',   '0 days 05:45:00',
 '-1 days +09:00:00',   '0 days 06:30:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:30:00',   '0 days 06:30:00',
 '-1 days +08:00:00',   '0 days 05:45:00', '-1 days +09:00:00',
   '0 days 06:30:00', '-1 days +07:00:00',   '0 days 04:30:00',
 '-1 days +08:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:45:00', '-1 days +09:00:00',   '0 days 06:30:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00', '-1 days +08:00:00',   '0 days 05:45:00',
 '-1 days +09:00:00',   '0 days 06:30:00', '-1 days +07:00:00',
   '0 days 05:30:00', '-1 days +08:30:00',   '0 days 06:30:00',
 '-1 days +08:00:00',   '0 days 05:45:00', '-1 days +09:00:00',
   '0 days 06:30:00', '-1 days +07:00:00',   '0 days 05:30:00',
 '-1 days +08:30:00',   '0 days 06:30:00', '-1 days +08:00:00',
   '0 days 05:45:00', '-1 days +09:00:00',   '0 days 06:30:00',
 '-1 days +07:00:00',   '0 days 05:30:00', '-1 days +08:30:00',
   '0 days 06:30:00']
Length: 100, dtype: timedelta64[ns]